Source: interception-caps2esc
Section: utils
Priority: optional
Maintainer: Osamu Aoki <osamu@debian.org>
Build-Depends: cmake, debhelper-compat (= 13)
Standards-Version: 4.6.1
Homepage: https://gitlab.com/interception/linux/plugins/caps2esc
Vcs-Browser: https://gitlab.com/interception/linux/plugins/caps2esc
Vcs-Git: https://gitlab.com/interception/linux/plugins/caps2esc.git
Rules-Requires-Root: no

Package: interception-caps2esc
Architecture: amd64
Depends: interception-config, ${misc:Depends}, ${shlibs:Depends}
Recommends: interception-tools
Description: Rebind Caps Lock to Esc at evdev level using interception-tools
 This rebind Caps Lock to Esc at evdev level using interception-tools and
 allows Caps Lock to be used as Ctrl when keychording.
